<?xml version="1.0"?>
<launch>
    <!-- true = reachability | false = inverse reachability -->
    <arg name="load_manipulator" default="true"/>
    <!-- true = create map | false = load map -->
    <arg name="create_map" default="true"/>
    <!-- requires load_manipulator:=false -->
    <arg name="base_placement" default="false"/>

    <arg name="moveit_pkg" default="raico_robot_moveit_config"/>

    <!--  optical / ut -->
    <arg name="move_group" default="ut"/>
    <!-- kmr_base_footprint / iiwa_link_0 -->
    <arg name="planning_frame" default="scout_footprint"/>
    <!-- kinova_camera_color_frame / ut_probe_contact_frame -->
    <arg name="ee_frame" default="ut_probe_contact_frame"/>

    <arg name="num_ik_threads" default="20"/> <!-- Ignored if use_service_ik -->
    <arg name="num_ik_attempts" default="1"/> <!-- Ignored if use_service_ik -->
    <arg name="use_service_ik" default="false"/>
    <arg name="use_flood_fill" default="true"/>

    <!-- 20 cores processes around 240 spheres / min at 1 attempt -->
    <!-- 2255127 spheres // 5 days naive // 14.2 hrs flood fill -->
    <!-- Final workspace has 240688 spheres and 3790266 poses -->
    <arg name="resolution" default="0.025"/>
    <!-- 288670 spheres // 20 hrs naive // 1.8 hrs flood fill -->
    <!-- <arg name="resolution" default="0.05"/> -->
    <!-- 35200 spheres // 2.4 hrs naive // 15 mins flood fill -->
    <!-- <arg name="resolution" default="0.1"/> -->
    <!-- 4400 spheres // 22 mins naive // 3 mins flood fill -->
    <!-- <arg name="resolution" default="0.2"/> -->
    <!-- <arg name="resolution" default="0.25"/> -->
    <!-- <arg name="resolution" default="0.5"/> -->

    <group if="$(arg load_manipulator)">    <!-- Map Creation -->
        <!-- Load the manipulator MoveIt! demo -->
        <include file="$(eval find(moveit_pkg) + '/launch/demo.launch')">
            <arg name="use_rviz" value="false" />
        </include>

        <group if="$(arg create_map)">
            <node name="map_gen" pkg="map_generation" type="map_generation_node" output="screen">
              <param name="group_name" value="$(arg move_group)"/>
              <param name="planning_frame" value="$(arg planning_frame)"/>
              <param name="ee_frame" value="$(arg ee_frame)"/>
              <param name="pkg_name" value="$(arg moveit_pkg)"/>
              <param name="resolution" value="$(arg resolution)"/>
              <param name="radius" value="2.0"/>
              <param name="num_ik_threads" value="$(arg num_ik_threads)"/>
              <param name="num_ik_attempts" value="$(arg num_ik_attempts)"/>
              <param name="use_service_ik" value="$(arg use_service_ik)"/>
              <param name="use_flood_fill" value="$(arg use_flood_fill)"/>
              <param name="check_collision" value="true"/>
              <param name="path" value="$(find map_generation)/maps/"/>
              <param name="filename" value="default"/>
            </node>
        </group>


        <group unless="$(arg create_map)">
            <!-- Load and Visualise Reachability Map -->
            <group unless="$(arg base_placement)">
                <!-- Use the original Reuleaux package's map loader -->
                <node pkg="map_creator" type="load_reachability_map" name="reachability_map_loader" args="$(find map_generation)/maps/raico_robot_$(arg move_group)_$(arg resolution)_reachability.h5" />

                <!-- Reuleaux's load map doesn't use the same frame as the frame the map was created in for some reason, it forces base_link and isn't parameterised currently, so we need a static tf from the planning frame to the base_link frame -->
                <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg planning_frame)_2_base_link" args="0 0 0 0 0 0 $(arg planning_frame) base_link" />
                <node name="rviz" pkg="rviz" type="rviz" args="-d $(find map_generation)/config/panda_demo.rviz" />
            </group>


            <!-- Load requirements for the base placement plugin -->
            <group if="$(arg base_placement)">
                <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg planning_frame)_2_base_link" args="0 0 0 0 0 0 $(arg planning_frame) base_link" />
                <node name="rviz" pkg="rviz" type="rviz" args="-d $(find map_generation)/config/base_placement_template.rviz" />
            </group>
        </group>
    </group>


    <!-- If we are not using the manipulator then we are loading an inverse reachability map -->
    <group unless="$(arg load_manipulator)">
        <!-- Load and Visualise Inverse Reachability Map -->
        <group unless="$(arg create_map)">
            <!-- Reuleaux's load map doesn't use the same frame as the frame the map was created in for some reason, it forces base_link and isn't parameterised currently, so we need a static tf from the planning frame to the base_link frame -->
            <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg planning_frame)_2_base_link" args="0 0 0 0 0 0 $(arg planning_frame) base_link" />

            <!-- Use the original Reuleaux package's map loader -->
            <node pkg="map_creator" type="load_reachability_map" name="reachability_map_loader" args="$(find map_generation)/maps/$(arg move_group)_$(arg resolution)_inverse_reachability.h5"/>

            <node name="rviz" pkg="rviz" type="rviz" args="-d $(find map_generation)/config/panda_demo.rviz"/>
        </group>
    </group>
</launch>
